<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Serie</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/Style/temporada.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Style/navbar.css">

</head>

<body>

    <div id="app">
        <div class="menu-superior">
            <div class="d-flex justify-content-between align-items-center" style="height: 100%;">
                <div class="opciones">
                    <a href="./home.html">
                        <img src="/img/Logo.png" class="logo">
                    </a>


                </div>

                <div class="opciones-perfil">
                    <div class="opciones-dropdown perfil-dropdown">
                        <div class="button-perfil">
                            <div class="icono-perfil">
                                <img src="/img/perfil.png">
                            </div>
                        </div>
                        <div class="dropdown-perfil">
                            <li><a @click="cerrarSesion()">Cerrar sesión</a></li>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="serie-container">
            <div class="serie" v-for="datos in temporada" :key="datos.id">
                <div class="temporada-imagen">
                    <img @click="obtener_serie()" :src="'https://image.tmdb.org/t/p/w500/' + datos.poster_path" alt="">
                </div>
                <div class="temporada-informacion">
                    <h3>Temporada {{datos.season_number}} ({{datos.air_date}})</h3>
                </div>
            </div>
        </div>

        <div class="temporada-container">
            <div class="cambiar-temporada" v-for="datos in temporada" :key="datos.id">
                <div class="temporadas">
                    <div class="flecha-con-texto">
                        <span @click="temporada_anterior()" v-if="datos.season_number - 1 > 0"
                            class="flecha-izquierda"></span>
                        <span @click="temporada_anterior()" v-if="datos.season_number - 1 > 0" class="texto">Temporada
                            anterior</span>
                    </div>
                    <div class="flecha-con-texto">
                        <span @click="temporada_siguiente()" v-if="datos.season_number < total_temporadas"
                            class="temporada-siguiente">Temporada Siguiente</span>
                        <span @click="temporada_siguiente()" v-if="datos.season_number < total_temporadas"
                            class="flecha-derecha"></span>
                    </div>

                </div>
            </div>
        </div>


        <div class="episodios">
            <h4>Episodios</h4>
            <div class="carta-temporada" v-for="episodio in episodios" :key="episodio.id">
                <img v-if="episodio.still_path != null" class="carta-imagen"
                    :src="'https://image.tmdb.org/t/p/w500/' + episodio.still_path" alt="poster">
                <img v-else class="carta-imagen" src="/img/img_no_disponible.jpg" alt="poster">
                <div class="carta-cuerpo">
                    <div>
                        <h6 class="carta-titulo">{{episodio.episode_number}} {{ episodio.name }}</h6>
                        <div class="rating-fecha">
                            <div class="carta-rating">
                                <h6>⭐ {{episodio.vote_average}}% </h6>
                            </div>
                            <div class="carta-datos">
                                <h6>{{episodio.air_date}} • {{episodio.runtime}}m</h6>
                            </div>
                        </div>

                        <p>{{episodio.overview}}</p>

                    </div>

                    <button class="btn-expandir" @click="toggleExpandir(episodio)">
                        {{ episodio.expandido ? 'Mostrar menos' : 'Mostrar más' }}
                    </button>
                    <div :class="['carta-info-expandida', { expandido: episodio.expandido }]">
                        <h6>Estrellas invitadas</h6>
                        <div class="row">
                            <div class="col-md-4" v-for="estrella in estrellas_por_episodio[episodio.id]"
                                :key="estrella.id">
                                <div class="estrella-info">
                                    <div class="estrella-img">
                                        <img :src="'https://image.tmdb.org/t/p/w500/' + estrella.profile_path"
                                            alt="Imagen de la estrella invitada">
                                    </div>
                                    <div class="estrella-detalles">
                                        <h6>{{ estrella.name }}</h6>
                                        <p>{{ estrella.character }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>





</body>


<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                temporada_numero: localStorage.getItem("temporadaSeleccionada2"),
                serie_id: localStorage.getItem("serieSeleccionadaId"),
                temporada: [], temporada_imagen: "", total_temporadas: 0,
                episodios: [],
                estrellas_invitadas: [], total_estrellas_invitadas: 0, columna_estrellas_invitadas: 0, estrellas_por_episodio: [],
                estrellas_primera_columna: [], estrellas_segunda_columna: [], estrellas_tercera_columna: [],
                serie: [],
            };
        },
        methods: {
            async obtener_episodios() {
                const url = `https://api.themoviedb.org/3/tv/${this.serie_id}/season/${this.temporada_numero}?api_key=9cf1198f36410ea23852c01c0c427731`;
                try {
                    const response = await fetch(url);
                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }
                    const json = await response.json();

                    this.temporada.push(json)

                    this.episodios = json.episodes.map(episodio => ({
                        ...episodio,
                        expandido: false, //expansion de la carta
                        vote_average: Math.floor(episodio.vote_average * 10)
                    }));

                    //Añadir a los invitados especiales
                    json.episodes.forEach(episodio => {
                        //mostrar solo las estrellas con imagen de perfil
                        this.estrellas_por_episodio[episodio.id] = episodio.guest_stars.filter(estrella => estrella.profile_path != null);
                    });


                    this.columna_estrellas_invitadas = Math.ceil(this.estrellas_invitadas.length / 3);

                    console.log("columna " + this.columna_estrellas_invitadas)
                    let contador = 0



                } catch (error) {
                    console.error(error);
                }
            },
            async obtener_serie() {
                const url = `https://api.themoviedb.org/3/tv/${this.serie_id}?&api_key=9cf1198f36410ea23852c01c0c427731`;
                try {
                    const response = await fetch(url);
                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }
                    const json = await response.json();

                    this.serie = json;
                    this.guardar_serie(this.serie)


                } catch (error) {
                    console.error(error);
                }
            },
            temporada_anterior() {
                this.temporada_numero = this.temporada_numero - 1;
                this.temporada = []
                this.obtener_episodios()
            },
            temporada_siguiente() {
                this.temporada_numero = this.temporada_numero + 1;
                this.temporada = []
                this.obtener_episodios()
            },

            toggleExpandir(episodio) {
                episodio.expandido = !episodio.expandido;
            },
            guardar_serie(serie) {
                localStorage.setItem('serieSeleccionada', JSON.stringify(serie));
                window.location.href = 'serie.html';
            },
            cerrarSesion() {
                localStorage.removeItem("logeado")
                localStorage.removeItem('usuario',);
                localStorage.removeItem('session_id',);
                localStorage.removeItem('request_token',);
                window.location.href = 'index.html';
            },

        },
        async mounted() {
            let logeado = localStorage.getItem("logeado");
            let usuario = localStorage.getItem("usuario");
            let request_token = localStorage.getItem("request_token");
            let session_id = localStorage.getItem("session_id");


            if (logeado == null && usuario == null) {
                window.location.href = "index.html";
            }
            console.log("numero temporada " + this.temporada_numero)
            console.log(this.serie_id)
            this.total_temporadas = this.temporada_numero
            console.log("total temporadas: " + this.total_temporadas)

            this.obtener_episodios();
            this.temporada.forEach(element => {
                console.log(element.season_number)

            });
        }
    }).mount('#app');
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const perfilButton = document.querySelector('.button-perfil');
        const dropdownMenu = document.querySelector('.perfil-dropdown .dropdown-perfil');

        perfilButton.addEventListener('click', function () {
            dropdownMenu.classList.toggle('active');
        });

        // Cerrar el dropdown si se hace clic fuera
        document.addEventListener('click', function (e) {
            if (!perfilButton.contains(e.target) && !dropdownMenu.contains(e.target)) {
                dropdownMenu.classList.remove('active');
            }
        });
    });

</script>



</html>